<!DOCTYPE html>
<html th:replace="~{layout :: maincontent(~{::section})}">

<head>
    <title>Questionnaire</title>
</head>

<body>
<section>
    <form th:action="@{/questionnaires}" th:object="${questionnaire}" method="post">
        <div class="mb-3 row">
            <label class="col-md-2" for="title">Title:</label>
            <div class="col-md-10">
                <!-- th:field evaluiert zu den Input-Element-Attributen id, name, value -->
                <input class="form-control" type="text" th:field="*{title}" autofocus="autofocus" />
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-md-2" for="description">Description:</label>
            <div class="col-md-10">
                <input class="form-control" type="text" th:field="*{description}" />
            </div>
        </div>
        <div class="mb-3 row row-cols-auto">
            <a class="btn btn-light" th:href="@{/questionnaires}">Cancel</a>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</section>
</body>

</html>
